.ax_default {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._形状 {
}
._图片 {
}
.checkbox-label-uncheck {
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
.checkbox-uncheck {
}
.checkbox-label-check {
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
  text-align:left;
}
.checkbox-check {
}
.image {
}
.box_2 {
}
._一级标题 {
  font-family:'微软雅黑', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'微软雅黑', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'微软雅黑', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'微软雅黑', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'微软雅黑', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'微软雅黑', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
.line {
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
._自由编辑 {
}
.box_1 {
}
.ellipse {
}
.button {
}
.label {
  font-size:14px;
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.icon {
}
.line1 {
}
.link_button {
  color:#169BD5;
}
.sticky_2 {
  text-align:left;
}
.arrow {
}
.placeholder {
}
.form_disabled {
}
.box_3 {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.radio_button {
  text-align:left;
}
.paragraph {
  text-align:left;
}
.heading_2 {
  font-family:'微软雅黑', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'微软雅黑', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.shape {
}
._连接 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
.flow_shape {
}
.ellipse1 {
}
.paragraph1 {
  text-align:left;
}
.shape1 {
}
textarea, select, input, button { outline: none; }
