body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:574px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:482px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:482px;
  display:flex;
}
#u3948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u3949 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:23px;
  width:12px;
  height:11px;
  display:flex;
}
#u3949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u3950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:574px;
  height:1px;
  display:flex;
}
#u3950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u3951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:425px;
  width:574px;
  height:1px;
  display:flex;
}
#u3951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:19px;
  width:180px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u3952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:136px;
  width:79px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3953 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:441px;
  width:84px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:441px;
  width:84px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:84px;
  width:145px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3958 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:197px;
  width:79px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3959 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:380px;
  width:79px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3960 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:375px;
  width:54px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u3962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:379px;
  width:16px;
  height:16px;
  display:flex;
}
#u3963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:379px;
  width:24px;
  height:16px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3964 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3964_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3965 label {
  left:0px;
  width:100%;
}
#u3965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:88px;
  width:100px;
  height:19px;
  display:flex;
}
#u3965 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3965_img.selected {
}
#u3965.selected {
}
#u3965_img.disabled {
}
#u3965.disabled {
}
#u3965_img.selectedDisabled {
}
#u3965.selectedDisabled {
}
#u3965_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u3965_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3966 label {
  left:0px;
  width:100%;
}
#u3966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:88px;
  width:100px;
  height:19px;
  display:flex;
}
#u3966 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3966_img.selected {
}
#u3966.selected {
}
#u3966_img.disabled {
}
#u3966.disabled {
}
#u3966_img.selectedDisabled {
}
#u3966.selectedDisabled {
}
#u3966_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u3966_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3967 label {
  left:0px;
  width:100%;
}
#u3967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:201px;
  width:100px;
  height:19px;
  display:flex;
}
#u3967 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3967_img.selected {
}
#u3967.selected {
}
#u3967_img.disabled {
}
#u3967.disabled {
}
#u3967_img.selectedDisabled {
}
#u3967.selectedDisabled {
}
#u3967_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u3967_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3968 label {
  left:0px;
  width:100%;
}
#u3968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:201px;
  width:100px;
  height:19px;
  display:flex;
}
#u3968 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3968_img.selected {
}
#u3968.selected {
}
#u3968_img.disabled {
}
#u3968.disabled {
}
#u3968_img.selectedDisabled {
}
#u3968.selectedDisabled {
}
#u3968_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u3968_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:136px;
  width:100px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3969 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3970_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:131px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3970 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3970_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3970.disabled {
}
.u3970_input_option {
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:136px;
  width:100px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3971 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:259px;
  width:79px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3973_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:254px;
  width:305px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3973 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3973_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3973.disabled {
}
.u3973_input_option {
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:58px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u3974_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:58px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u3974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:294px;
  width:305px;
  height:58px;
  display:flex;
}
#u3974 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3974_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:58px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3974.disabled {
}
#u3975 {
  position:fixed;
  right:0px;
  top:19px;
  width:465px;
  height:488px;
}
#u3975_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:488px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3975_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3976 {
  position:fixed;
  right:10px;
  top:10px;
}
#u3976_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3976_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  display:flex;
}
#u3977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u3978 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u3978_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:10px;
  width:24px;
  height:32px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.980392156862745);
}
#u3979 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:49px;
  width:389px;
  height:90px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u3980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:114px;
  width:24px;
  height:32px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.980392156862745);
}
#u3981 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
